.exp
    .exp__title Experience
    .row
        for i in [1,2,3,4,5]
            .exp__item.col-sm-12.col-md-4.mb-4
                .exp__name Norma
                .exp__role Digital Product Designer
                .exp__date Mar 21 — Now