footer.footer.row.align-items-center
    .col-6 Made ❤️ on savchenko.dev stram
    .col-6
        ul.list-unstyled
            li
                a(href="#") dribble
            li
                a(href="#") LINKEDIN
            li
                a(href="#") TWITTER
            li
                a(href="#") INSTAGRAM