form.form
    .px-3.py-4
        h3.form__title Looking for help with design
        p.form__text Send me details

        .mb-3
            label Name
            input.form-control(type="text", placeholder="Enter your name")

        .mb-3
            label Email Address
            input.form-control(type="text", placeholder="Enter your email")

        .mb-1
            label Detail
            textarea.form-control(type="text", placeholder="Enter your message")
        
        button.btn.btn-link.link.d-block.ms-auto Submit