.top.row
    .top__work.col-sm-12.col-md-4.mb-4
        .top__preview
            img(src="https://picsum.photos/500/500")
        h3.top__name Businesswise
        p.top__description Businesswise freelance was a project where I worked as a designer. The main goal of businesswise is to gather podcasts in various categories for professional people.
        a.link(href="") See All
    .top__work.col-sm-12.col-md-4.mb-4
        .top__preview
            img(src="https://picsum.photos/500/500")
        h3.top__name Businesswise
        p.top__description Businesswise freelance was a project where I worked as a designer. The main goal of businesswise is to gather podcasts in various categories for professional people.
        a.link(href="") See All
    .top__work.col-sm-12.col-md-4.mb-4
        .top__preview
            img(src="https://picsum.photos/500/500")
        h3.top__name Businesswise
        p.top__description Businesswise freelance was a project where I worked as a designer. The main goal of businesswise is to gather podcasts in various categories for professional people.
        a.link(href="") See All
