.welcome
    img.welcome__avatar(src="https://picsum.photos/300/100")
    h1.welcome__title Welcome to my Portfolio 👋
    p.welcome__text I’m Mete. I’m 24-year-old. I’m a Digital Product Designer who prioritizes simplicity and usability. Currently, I'm Digital Product Designer on Norma. Formerly Enrich Mobile, ASDC, TalentMondo, and MobileUpp. I love working on side projects, trying to improve myself on SwiftUI and Webflow.
    a.link(href="http://savchenko.dev", target="_blank") Contact Me
